@font-face {
    font-family: 'Geomanist-Book';
    src: URL('public/fonts/Geomanist-Book.ttf') format('truetype');
}

@font-face {
    font-family: 'Geomanist-Medium';
    src: URL('public/fonts/Geomanist-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'ShameimaruSans_copy';
    src: URL('public/fonts/ShameimaruSans_copy.ttf') format('truetype');
}

body{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar{
    width: 8px;
}
  
::-webkit-scrollbar-track{
    background-color: #707070;
}
  
::-webkit-scrollbar-thumb{
    background: #454040;
    border-radius: 50px;
}

.left-side{
    background-color: #F1F1F1;
    height: 100vh;
    overflow: hidden;
    padding-left: 4rem;
}

.right-side{
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.nav-head-row{
    margin-top: 8rem;
}

.nav-head{
    font-family: 'ShameimaruSans_copy';
    color: #454040;
    font-size: 1.5rem;
}

.nav-head span{
    font-size: 1.1rem;
    font-weight: 50;
    color: #707070;
    font-family: 'Geomanist-Book';
}

.nav-items-bar{
    margin-top: 4rem;
}

.nav-item{
    font-family: 'Geomanist-Book';
    font-size: 1.1rem;
    font-weight: lighter;
    margin-top: 0.8rem;
}

.nav-items-bar-2{
    margin-top: 5rem;
}

a{
    text-decoration: none;
    color: #707070;
    transition-duration: 0.3s;
}

.navlink:hover{
    color: #454040;
}

.emaillink:hover{
    color: #454040;
}

.navlink:visited{
    font-family: 'Geomanist-Medium';
}

/* Home */
#home{
    display: block;
}

.home-left-content{
    margin-right: 2rem;
}

.home-head{
    font-size: 2.2rem;
    font-family: 'ShameimaruSans_copy';
    color: #454040;
}

.police{
    margin-top: -0.5rem;
}

.hr{
    height: 0.3rem;
    width: 100%;
    background-color: #454040;
    border: none;
}

.home-content{
    font-family: 'Geomanist-Book';
    color: #707070;
    font-size: 1.25rem;
}

.button{
    font-family: 'ShameimaruSans_copy';
    background-color: #454040;
    color: white;
    transition-duration: 0.3s;
}

.button:hover{
    background-color: #292828;
    color: white;
}

.illus-outer{
    width: 15rem;
    height: 15rem;
    background-color: none;
    border-radius: 14px;
    transition-duration: 0.5s;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.illus-outer:hover{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

.illus-inner{
    position: relative;
    transform: translate(8%,7%);
    width: 13rem;
    height: 13rem;
    background: url('https://cdn.discordapp.com/attachments/644444918554820608/832874983940292638/unknown.png');
    background-position: center;
    border-radius: 14px;
}

/* About */
#about{
    margin-top: 17rem;
}

.about-illus{
    width: 100%;
}

.about-inner-illus{
    transform: translate(2%,7%);
    width: 96%;
    height: 13rem;
    background: #F1F1F1;
    border-radius: 14px;
}

.about-content{
    margin-left: 0.2rem;
    color: #707070;
}

/* Report */

#report{
    display: block;
    margin-top: 10rem;
    margin-bottom: 1rem;
}

.report-hr{
    width: 80%;
    margin-left: 1rem;
}

.vr{
    height: 4.5rem;
    width: 0.3rem;
    background-color: #B2B2B2;
}

.report-content{
    margin-left: -3.5rem;
    font-family: 'Geomanist-Book';
    color: #B2B2B2;
    font-size: 1.25rem;
}

.report-head{
    font-size: 2.2rem;
    font-family: 'ShameimaruSans_copy';
    color: #454040;
    margin-top: 5rem;
}

.report-outer{
    padding-left: 4rem;
}

.report-inner{
    transform: translate(8%,7%);
    width: 13rem;
    height: 13rem;
    background: #F1F1F1;
    border-radius: 14px;
    /* to be removed */
    padding-top: 5.5rem; 
}

.report-inner-content{
    font-family: 'Geomanist-Medium';
    color: #454040;
}

.or{
    margin-top: 5rem;
    font-family: 'Geomanist-Medium';
    color: #454040;
    font-size: 2rem;
}

.reveal{
    display: block;
    text-align: center;
}

.form-reveal{
    display: none;
}

.anonymous{
    display: block;
}

.form-anonymous{
    display: none;
}

.labels{
    font-size: 1.1rem;
    font-family: 'ShameimaruSans_copy';
    color: #454040;
}

.inputs{
    background-color: #F1F1F1;
    border: none;
    padding: 10px;
    font-family: 'Geomanist-Book';
}

.radios{
    background-color: #F1F1F1;
    font-family: 'Geomanist-Book';
    color: grey;
    padding: 10px;
    width: 100%;
    transition-duration: 0.4s;
}

.radios:hover{
    background-color: #888585;
}

.inputs:focus{
    box-shadow: none;
    border: none;
}

.textarea{
    background-color: #F1F1F1;
    border: none;
    font-family: 'Geomanist-Book';
}

.textarea::placeholder{
    font-size: 0.9rem;
    font-family: 'Geomanist-Book';
}

.textarea:focus{
    background-color: #F1F1F1;
    box-shadow: none;
    border: none;
}

#file{
    background-color: #F1F1F1;
}

/* Team */
#team{
    display: block;
    margin-top: 6rem;
    margin-bottom: 10rem;
}

.team-content{
    margin-left: 0.2rem;
    color: #B2B2B2;
    font-family: 'Geomanist-Book';
    font-size: 1.25rem;
}

.content  {
    padding: 0em 5em;
}

.qute {
    padding-left: 1em;
    border-left: #B2B2B2 0.25em solid;
}

.card-title{
    font-family: 'ShameimaruSans_copy';
    color: #454040;
}

.card-text{
    font-family: 'Geomanist-Book';
    color: #707070;
}

.underlined{
    font-family: 'Geomanist-Medium';
    color: #454040;
}

.underlined::after {
    content: "";
    display: block;
    width: 5%;
    height: 4px;
    background-color: #454040;
}
.card {
    line-height: 0.6em;
}

@media(max-width: 500px){
    ::-webkit-scrollbar{
        width: 0px;
    }

    .left-side{
        overflow-y: scroll;
    }
}