<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="/postReport" method="POST">
        <input type="text" name="name" id="name" placeholder="Name">
        <textarea name="message" id="message" cols="30" rows="10" placeholder="Message" required></textarea>
        <button type="submit">Submit</button>
    </form>
</body>
</html>