<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Cyber Congress is the cyber-regulatory body of Amity International School, Sector-46, Gurugram. We
  constantly work under the guidance of our esteemed Principal ma’am, Ms. Arti Chopra, and Cyber Security
  Expert, Mr. Rakshit Tandon, to execute the cyber laws of the school.">
  <link rel="icon" href="/assets/amity-logo.png">
  <meta name="keywords" content="Cyber Congress Amity 46 | Cyber Congress | Amity 46 | Amity | Cyber Congress Amity">
  <meta name="robots" content='index, follow'>
  <meta name="google-site-verification" content="YrvNgqTHx5z2OwsUiqbHPkVCQTk-zVLxo1xYTa7nJEU" />
  <link rel="canonical" href="https://cybercongressais46.herokuapp.com/" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- Icons -->
  <script src="https://kit.fontawesome.com/abc159cb0a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/index.css" type="text/css" />
  <title>Cyber Congress — AISG46</title>
</head>

<body>
  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button">
          <span class="navbar-toggler-icon" id="navbar-icon"></span>
        </button>
        <div class="blackout"></div>
        <div class="navbar-links-container">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item school-logo-phone-container">
              <img src="/assets/amity-logo.png" width="100" height="100" alt="School Logo">
            </li>
            <li class="nav-item phone-nav-item">
              <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item phone-nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item phone-nav-item">
              <a class="nav-link" href="#report2">Report</a>
            </li>
            <li class="nav-item phone-nav-item">
              <a class="nav-link" href="#news2">Newsletter</a>
            </li>
            <% if(images || links){ %>
            <li class="nav-item phone-nav-item">
              <a class="nav-link" href="#insta">Instagram</a>
            </li>
            <% } %>
            <li class="nav-item phone-nav-item">
              <a class="nav-link" href="#team2">Team</a>
            </li>
            <li class="nav-item phone-nav-item">
              <a class="nav-link" href="#alumni2">Alumni</a>
            </li>
            <li class="nav-item phone-nav-item">
              <a class="nav-link" href="mailto:cybercongressaisg46@gmail.com">Email</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container-fluid">
    <div id="loading">
      <div class="container message">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6">
            <div class="message-box">
              <h4>
                Please don't close the tab while we submit your response. It can take upto 10 seconds.
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-3 col-12 left-side">
        <div class="row nav-head-row">
          <div class="col-12">
            <img src="/assets/amity-logo.png" width="100" class="school-logo-laptop" alt="School Logo">
          </div>
          <div class="col-12 mt-3">
            <h3 class="nav-head">
              Cyber Congress
              <br />
              <span>@ aisg46</span>
            </h3>
          </div>
        </div>
        <div class="row nav-items-bar" id="nav">
          <div class="col-12 nav-item">
            <a href="#home" class="navlink home" id="left-links"
              style="font-family: 'Geomanist-Medium'; color: #454040;">Home</a>
          </div>
          <div class="col-12 nav-item">
            <a href="#about" class="navlink about-link about" id="left-links">About</a>
          </div>
          <div class="col-12 nav-item">
            <a href="#report" class="navlink report" id="left-links">Report</a>
          </div>
        </div>
        <div class="col-12 nav-item">
          <a href="#newsletter" class="navlink newsletter" id="left-links">Newsletter</a>
        </div>
        <%if (images || links) { %>
        <div class="col-12 nav-item">
          <a href="#insta" class="navlink insta" id="left-links">Instagram</a>
        </div>
        <% } %>
        <div class="row nav-items-bar-2">
          <div class="col-12 nav-item">
            <a href="#team" class="navlink team" id="left-links">Team</a>
          </div>
          <div class="col-12 nav-item">
            <a href="#alumni" class="navlink alumni" id="left-links">Alumni</a>
          </div>
          <div class="col-12 nav-item">
            <a href="mailto:cybercongressaisg46@gmail.com" class="emaillink" id="left-links">Email</a>
          </div>
        </div>
      </div>
      <!-- Sidebar ends -->
      <div class="col-md-9 col-12 right-side">
        <!-- Home Page -->
        <div id="home" class="sections">
          <div class="row home-top justify-content-center">
            <div class="col-12 phone-illus">
              <div class="illus-outer">
                <div class="illus-inner"></div>
              </div>
            </div>
            <div class="col-md-5 col-12 home-left-content">
              <div class="row">
                <div class="col-12">
                  <h1 class="home-head">
                    We're here for you!
                  </h1>
                  <div class="hr"></div>
                </div>
                <div class="col-12 mt-2 home-content">
                  The Cyber Congress of Amity-46, Gurugram is here to guide you through the realms of cyber security. We
                  propagate netiquette and ensure adherence to Amity’s cyber laws. In case you need any
                  help—professional or friendly—let us know.
                </div>
                <div class="col-12 mt-4 more">
                  <a href="#newsletter" id="more">
                    <button class="btn button">
                      Read our E-Magazine! &nbsp;&nbsp;&nbsp;<i class="fas fa-long-arrow-alt-down"></i>
                    </button>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-3 laptop-illus">
              <div class="illus-outer home-illus">
                <div class="illus-inner home-illus-inner">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13rem"
                    height="13rem" viewBox="0 0 1000 1000">
                    <defs>
                      <clipPath id="clip-Illustration_1.1">
                        <rect width="1000" height="1000" />
                      </clipPath>
                    </defs>
                    <g id="Illustration_1.1" data-name="Illustration 1.1" clip-path="url(#clip-Illustration_1.1)">
                      <rect width="1000" height="1000" fill="#eaeaea" />
                      <path id="hair"
                        d="M642.226,290.161s18.9-7.861,25.5-23.083S690.2,134.622,687.056,125.336,637.724,83.4,607.509,68.279,566.2,64.872,566.2,64.872L572.1,78.76s-22.46-6.759-38.27-4.612a42.165,42.165,0,0,0-24.968,13.2l12.977,8.5s-22.289,7.831-31.925,24.694-6.621,42.756-6.621,42.756l13.124-10.682a76.321,76.321,0,0,0,2.1,18.053c2.238,8.222,8.738,15.395,8.738,15.395s-18.582,88.889,15.632,115.055c21.042,16.092,63.718,13.6,91.9,5.1A67.633,67.633,0,0,0,642.226,290.161Z"
                        transform="translate(126.588 105.194)" fill="#353535" stroke="#353535" stroke-linejoin="round"
                        stroke-width="3" />
                      <path id="face"
                        d="M507.274,183.183l20.619-52.142s3.838,9.826,9.707,16.142a38.929,38.929,0,0,0,13.768,9.122l5.624-14.783a39.619,39.619,0,0,0,12.92,24.231c11.8,10.415,42.812,15.135,42.812,15.135l-24.581-39.367,24.581,18.641s6.9-27.054,20.438-15.731,7.064,51.22,7.064,51.22,21.987-28,35.094-8.919-23.774,41.651-23.774,41.651,6.533,38.917-11.319,63.381c-9.672,13.254-39.5,18.683-52.082,18.946-16.259.34-49.422,4.949-66.058-10.778-19.246-18.194-20.769-57.2-20.769-57.2Z"
                        transform="translate(126.588 105.194)" fill="#fbfbfb" stroke="#353535" stroke-linejoin="round"
                        stroke-width="3" />
                      <line id="Table" x2="780" transform="translate(137.088 742.695)" fill="none" stroke="#353535"
                        stroke-linecap="round" stroke-width="3" />
                      <g id="Specs" transform="translate(126.588 108.194)">
                        <path id="Path_11" data-name="Path 11"
                          d="M467.6,198.734s.089,5.348,0,16.345,7.3,18.635,27.328,18.971c18.609.312,27.736-9.7,28.032-18.971s0-16.345,0-16.345Z"
                          transform="translate(16.161 1)" fill="#fff" stroke="#353535" stroke-linejoin="round"
                          stroke-width="3" />
                        <path id="Path_12" data-name="Path 12"
                          d="M467.6,198.734s.111,5.913,0,18.07,9.033,20.6,33.81,20.974c23.023.345,34.315-10.725,34.68-20.974s0-18.07,0-18.07Z"
                          transform="translate(97 1)" fill="#fff" stroke="#353535" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="3" />
                        <path id="Path_13" data-name="Path 13" d="M25,0S18.289-2.9,12.039-2.9A30.591,30.591,0,0,0,0,0"
                          transform="translate(539.249 204.181)" fill="#fff" stroke="#353535" stroke-width="5" />
                      </g>
                      <path id="nose"
                        d="M2.667-1.119S3.6,6.5,1.263,12.27s-10.621,10.8-10.621,10.8A39.083,39.083,0,0,0,0,28.573c5.089,1.981,11.478,0,11.478,0"
                        transform="translate(670.088 330.694)" fill="none" stroke="#353535" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="3" />
                      <path id="Ear"
                        d="M15.026-1.432s-1.2-9.838-5.534-9.668S-.1-6.261-2.318-.75c-.888,2.2,4.128,3.912,4.679,7.892.275,1.995-8.066,9.012-.783,9.673,4.268.387,7.173-5.126,6.727-10.535C8.033,2.959,4.809-.75,4.809-.75"
                        transform="matrix(0.985, 0.174, -0.174, 0.985, 780.416, 304.543)" fill="none" stroke="#707070"
                        stroke-linecap="round" stroke-width="2" />
                      <path id="Mouth" d="M0,0A17.815,17.815,0,0,0,7.786,6.586a49.824,49.824,0,0,0,11.546,3.548"
                        transform="translate(665.088 379.694)" fill="none" stroke="#353535" stroke-linecap="round"
                        stroke-width="3" />
                      <path id="Neck"
                        d="M559.177,312.454v24.213l-41.37,7.312s20.287,52.6,77.448,50.173,74.822-50.173,74.822-50.173l-23.77-7.312-11.1-40.638s-11.271,9-30.279,12.849S559.177,312.454,559.177,312.454Z"
                        transform="translate(126.588 105.194)" fill="#fcfcfc" stroke="#353535" stroke-width="3" />
                      <path id="Path_32" data-name="Path 32"
                        d="M3247.623,180.074,3227.63,147.31l19.994,14.749s5.284-27.1,18.6-16.473,6.92,52.751,6.92,52.751,14.435-21.2,27.636-16.478a16.261,16.261,0,0,1,8.207,6.955c2.15,3.94,2.146,9.632,0,14.046-6.128,12.607-24.635,25.309-24.635,25.309s3.435,39.689-8.647,59.755c-4.76,7.906-10.609,13.581-33.349,19.321s-57.61,3.638-57.61,3.638,72.129-27.517,75.527-59.434S3247.623,180.074,3247.623,180.074Z"
                        transform="translate(-2506.868 105.062)" fill="#b2b2b2" opacity="0.364" />
                      <g id="Shirt" transform="translate(126.588 105.194)">
                        <path id="Path_18" data-name="Path 18"
                          d="M517.807,345.132s-38.815.051-65.46,42.4-41.12,126.986-41.12,126.986H511.681s-15.638,69.118-19.524,87.95-18.37,34.51-18.37,34.51H660.7a74.233,74.233,0,0,0,29.893-8.126c14.616-7.8,20.531-15.284,20.531-15.284L701.75,520l88.595-17.333s-9.822-82.67-39.858-122.32-80.284-36.28-80.284-36.28-17.328,45.613-74.471,50.152S517.807,345.132,517.807,345.132Z"
                          fill="#d8d5d5" stroke="#353535" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="3" />
                        <line id="Line_1" data-name="Line 1" x2="1" y2="71" transform="translate(510.5 442.5)"
                          fill="none" stroke="#353535" stroke-linecap="round" stroke-width="3" />
                        <line id="Line_2" data-name="Line 2" x1="3" y2="74" transform="translate(702.5 445.5)"
                          fill="none" stroke="#353535" stroke-linecap="round" stroke-width="3" />
                      </g>
                      <g id="Eyebrow" transform="translate(126.588 111.194)">
                        <path id="Path_19" data-name="Path 19" d="M27,0S21.024-4.243,14.274-4.243,0,0,0,0"
                          transform="translate(507.142 190.5)" fill="none" stroke="#353535" stroke-linecap="round"
                          stroke-width="4" />
                        <path id="Path_20" data-name="Path 20" d="M31.337,0S24.4-4.243,16.567-4.243,0,0,0,0"
                          transform="translate(583.286 190.116)" fill="none" stroke="#353535" stroke-linecap="round"
                          stroke-width="4" />
                      </g>
                      <g id="Laptop" transform="translate(126.588 105.194)">
                        <g id="Path_21" data-name="Path 21" transform="translate(27.851 419.062) rotate(21)"
                          fill="#353535">
                          <path
                            d="M 408.3966369628906 214.7115478515625 L 267.3784484863281 29.95740127563477 L 267.0787353515625 29.56475830078125 L 266.5848083496094 29.56411552429199 L 10.61585903167725 29.23125457763672 L 23.3693733215332 23.04040718078613 L 274.502197265625 19.99746894836426 L 409.5878295898438 199.5775451660156 L 410.0629577636719 200.2091217041016 L 410.7872314453125 199.892822265625 L 564.1185302734375 132.9225006103516 L 568.291259765625 143.7931976318359 L 408.3966369628906 214.7115478515625 Z"
                            stroke="none" />
                          <path
                            d="M 274.0076599121094 21.0035400390625 L 23.60491943359375 24.03762817382812 L 14.95416259765625 28.23689270019531 L 266.5860900878906 28.56411743164062 L 267.5739440917969 28.56539916992188 L 268.1733093261719 29.35069274902344 L 408.7125854492188 213.4774932861328 L 567.0171508789062 143.264404296875 L 563.559814453125 134.2576293945312 L 411.1874389648438 200.8091888427734 L 409.7388916015625 201.44189453125 L 408.7886657714844 200.1786804199219 L 274.0076599121094 21.0035400390625 M 274.9967346191406 18.99139404296875 L 410.386962890625 198.9764099121094 L 564.677001953125 131.5872497558594 L 569.5653686523438 144.3220520019531 L 408.0805358886719 215.9456787109375 L 266.5835266113281 30.56411743164062 L 6.27740478515625 30.22561645507812 L 23.13372802734375 22.04318237304688 L 274.9967346191406 18.99139404296875 Z"
                            stroke="none" fill="#353535" />
                        </g>
                        <g id="Path_22" data-name="Path 22" transform="translate(18 461)" fill="#848484">
                          <path
                            d="M 313.9891357421875 304.6861572265625 L 73.25797271728516 175.6024169921875 L 6.561688423156738 -9.760136604309082 L 248.7898712158203 82.22068023681641 L 313.9891357421875 304.6861572265625 Z"
                            stroke="none" />
                          <path
                            d="M 8.23834228515625 -8.05377197265625 L 74.06887817382812 174.9025573730469 L 312.3581848144531 302.6769409179688 L 247.9700317382812 82.97900390625 L 8.23834228515625 -8.05377197265625 M 4.8848876953125 -11.46652221679688 L 249.6096649169922 81.46226501464844 L 315.6200256347656 306.6953735351562 L 72.44699096679688 176.3022613525391 L 4.8848876953125 -11.46652221679688 Z"
                            stroke="none" fill="#353535" />
                        </g>
                        <g id="Path_23" data-name="Path 23" transform="translate(304 633)" fill="#4d4d4d"
                          stroke-linecap="round" stroke-linejoin="round">
                          <path
                            d="M 35.20237350463867 120.5809783935547 L 34.98227310180664 119.8223495483398 L 2.039597511291504 6.278650760650635 L 1.381097555160522 4.009000778198242 L 3.468697547912598 5.116650581359863 L 202.2337493896484 110.5775985717773 L 205.4473266601562 112.2826538085938 L 201.813720703125 112.4597778320312 L 35.99134826660156 120.5425262451172 L 35.20237350463867 120.5809783935547 Z"
                            stroke="none" />
                          <path
                            d="M 3 6.000007629394531 L 35.94265747070312 119.5436935424805 L 201.7650451660156 111.4609298706055 L 3 6.000007629394531 M 3.000320434570312 4 C 3.320587158203125 4 3.642501831054688 4.076828002929688 3.937393188476562 4.233299255371094 L 202.7024383544922 109.694221496582 C 203.4978332519531 110.1162185668945 203.9131469726562 111.0177154541016 203.7170562744141 111.8965072631836 C 203.5209503173828 112.7753219604492 202.7617645263672 113.4147186279297 201.8624114990234 113.4585571289062 L 36.04002380371094 121.5413208007812 C 36.00721740722656 121.5429229736328 35.97441101074219 121.5437164306641 35.94184875488281 121.5437164306641 C 35.05633544921875 121.5437164306641 34.27079772949219 120.9589157104492 34.02186584472656 120.1009826660156 L 1.079208374023438 6.557296752929688 C 0.8553314208984375 5.785720825195312 1.114913940429688 4.955085754394531 1.738235473632812 4.4482421875 C 2.102554321289062 4.152008056640625 2.549819946289062 4 3.000320434570312 4 Z"
                            stroke="none" fill="#353535" />
                        </g>
                      </g>
                      <g id="Hand" transform="translate(126.588 105.194)">
                        <path id="Path_24" data-name="Path 24"
                          d="M437.466,515.339s-8.842,70.944-15.684,84.9S312.6,658.109,312.6,658.109l10.654,40.753s101.98-38.827,147.215-64.446c11.939-6.762,19.861-20.664,20.556-23.169,3.262-11.762,14.247-95.908,14.247-95.908Z"
                          fill="#fff" stroke="#353535" stroke-width="3" />
                        <path id="Path_25" data-name="Path 25"
                          d="M718.287,517.339s15.218,66.943-3.018,95.323-201.824,59.3-201.824,59.3-30.211-16.053-57.219-12.619-50.81,26.354-50.81,26.354-6.17,11.027,0,17.32,104.353,0,104.353,0,89.544,3.185,156.861-7.734,105.182-31.03,112.41-35.94c16.693-11.34,3-155.081,3-155.081Z"
                          fill="#fff" stroke="#353535" stroke-width="3" />
                      </g>
                      <circle id="Ellipse_10" data-name="Ellipse 10" cx="8" cy="8" r="8"
                        transform="translate(714.588 313.194)" fill="#353535" />
                      <path id="Icon_awesome-facebook-square" data-name="Icon awesome-facebook-square"
                        d="M89.286,2.25H10.714A10.714,10.714,0,0,0,0,12.964V91.536A10.714,10.714,0,0,0,10.714,102.25H41.35v-34H27.288v-16H41.35v-12.2c0-13.873,8.259-21.536,20.908-21.536A85.193,85.193,0,0,1,74.652,19.6V33.214h-6.98c-6.877,0-9.022,4.268-9.022,8.645V52.25H74l-2.455,16H58.65v34H89.286A10.714,10.714,0,0,0,100,91.536V12.964A10.714,10.714,0,0,0,89.286,2.25Z"
                        transform="translate(403.02 464.974)" fill="#4d4d4d" />
                      <path id="Icon_awesome-snapchat-square" data-name="Icon awesome-snapchat-square"
                        d="M100,2.25H12a12,12,0,0,0-12,12v88a12,12,0,0,0,12,12h88a12,12,0,0,0,12-12v-88A12,12,0,0,0,100,2.25ZM98.375,80.975c-.875,2.025-4.525,3.5-11.2,4.55A30.722,30.722,0,0,0,86.1,89.5a1.926,1.926,0,0,1-2.025,1.475h-.05c-1.55,0-3.2-.725-6.45-.725-4.4,0-5.925,1-9.35,3.425-3.625,2.575-7.1,4.775-12.3,4.55-5.25.4-9.65-2.8-12.125-4.55-3.45-2.425-4.95-3.425-9.35-3.425-3.125,0-5.1.775-6.45.775a1.985,1.985,0,0,1-2.075-1.5c-.45-1.525-.725-3.525-1.075-4C21.4,85,13.65,83.65,13.475,80.175a1.769,1.769,0,0,1,1.475-1.85c11.575-1.9,16.775-13.775,17-14.275,0-.025.025-.05.05-.075a3.739,3.739,0,0,0,.4-3.125c-.85-1.975-4.475-2.675-6-3.3-3.95-1.55-4.5-3.35-4.25-4.575.4-2.125,3.6-3.45,5.475-2.575a9.42,9.42,0,0,0,3.925,1.05,3.5,3.5,0,0,0,1.65-.35c-.35-5.975-1.175-14.5.95-19.275C39.775,19.25,51.675,18.25,55.175,18.25c.15,0,1.525-.025,1.675-.025A22.5,22.5,0,0,1,77.925,31.8c2.125,4.775,1.3,13.275.95,19.275a3.143,3.143,0,0,0,1.425.35,9.863,9.863,0,0,0,3.675-1.05,4.568,4.568,0,0,1,3.4,0,3.479,3.479,0,0,1,2.6,2.975c.025,1.625-1.425,3.025-4.3,4.15-.35.15-.775.275-1.225.425-1.625.525-4.1,1.3-4.75,2.875a3.834,3.834,0,0,0,.4,3.125c.025.025.025.05.05.075.225.5,5.425,12.375,17,14.275a1.92,1.92,0,0,1,1.225,2.7Z"
                        transform="translate(179.088 354.944)" fill="#353535" />
                      <path id="Icon_awesome-twitter-square" data-name="Icon awesome-twitter-square"
                        d="M120.536,2.25H14.464A14.468,14.468,0,0,0,0,16.714V122.786A14.468,14.468,0,0,0,14.464,137.25H120.536A14.468,14.468,0,0,0,135,122.786V16.714A14.468,14.468,0,0,0,120.536,2.25ZM105.8,50.1c.06.844.06,1.718.06,2.561,0,26.126-19.888,56.23-56.23,56.23a55.971,55.971,0,0,1-30.345-8.859,41.636,41.636,0,0,0,4.761.241,39.624,39.624,0,0,0,24.529-8.437A19.79,19.79,0,0,1,30.1,78.127a21.3,21.3,0,0,0,8.92-.362A19.765,19.765,0,0,1,23.2,58.359v-.241a19.75,19.75,0,0,0,8.92,2.5,19.722,19.722,0,0,1-8.8-16.453,19.517,19.517,0,0,1,2.682-9.974A56.116,56.116,0,0,0,66.747,54.864a19.806,19.806,0,0,1,33.72-18.05A38.727,38.727,0,0,0,113,32.052a19.712,19.712,0,0,1-8.679,10.878,39.33,39.33,0,0,0,11.391-3.074A41.6,41.6,0,0,1,105.8,50.1Z"
                        transform="translate(404.596 162.131)" fill="#353535" />
                      <g id="instagram" transform="translate(249.041 216.816)">
                        <path id="Path_26" data-name="Path 26"
                          d="M226.645,218.822A7.822,7.822,0,1,1,218.822,211,7.823,7.823,0,0,1,226.645,218.822Zm0,0"
                          transform="translate(-174.322 -174.322)" fill="#4d4d4d" />
                        <path id="Path_27" data-name="Path 27"
                          d="M156.852,120H130.43A10.441,10.441,0,0,0,120,130.43v26.422a10.441,10.441,0,0,0,10.43,10.43h26.422a10.441,10.441,0,0,0,10.43-10.43V130.43A10.441,10.441,0,0,0,156.852,120Zm-13.211,36.678a13.037,13.037,0,1,1,13.037-13.037A13.052,13.052,0,0,1,143.641,156.678ZM158.59,131.3a2.607,2.607,0,1,1,2.607-2.607A2.607,2.607,0,0,1,158.59,131.3Zm0,0"
                          transform="translate(-99.141 -99.141)" fill="#4d4d4d" />
                        <path id="Path_28" data-name="Path 28"
                          d="M73.355,0H15.645C2.705,0,0,2.705,0,15.645V73.355C0,86.295,2.705,89,15.645,89H73.355C86.295,89,89,86.295,89,73.355V15.645C89,2.705,86.295,0,73.355,0Zm0,57.711A15.663,15.663,0,0,1,57.711,73.355H31.289A15.663,15.663,0,0,1,15.645,57.711V31.289A15.663,15.663,0,0,1,31.289,15.645H57.711A15.663,15.663,0,0,1,73.355,31.289Zm0,0"
                          fill="#4d4d4d" />
                      </g>
                      <g id="Connecting_lines" data-name="Connecting lines" transform="translate(126.588 105.194)">
                        <line id="Line_3" data-name="Line 3" x1="59" transform="translate(411.5 115.5)" fill="none"
                          stroke="#353535" stroke-width="1" />
                        <line id="Line_4" data-name="Line 4" x1="162" y2="247" transform="translate(308.5 115.5)"
                          fill="none" stroke="#353535" stroke-width="2" />
                        <line id="Line_5" data-name="Line 5" x2="2" y2="177" transform="translate(345.5 185.5)"
                          fill="none" stroke="#353535" stroke-width="2" />
                        <line id="Line_6" data-name="Line 6" x2="105" y2="210" transform="translate(171.5 199.5)"
                          fill="none" stroke="#353535" stroke-width="2" />
                        <line id="Line_7" data-name="Line 7" x1="237" y2="69" transform="translate(108.5 185.5)"
                          fill="none" stroke="#353535" stroke-width="1" />
                        <line id="Line_9" data-name="Line 9" x2="57" y2="116" transform="translate(124.5 362.5)"
                          fill="none" stroke="#353535" stroke-width="2" />
                        <path id="Path_83" data-name="Path 83" d="M96.412-1h0L0,21.195"
                          transform="translate(181.5 457.306)" fill="none" stroke="#353535" stroke-width="2" />
                        <line id="Line_11" data-name="Line 11" x1="164" y2="293" transform="translate(181.5 185.5)"
                          fill="none" stroke="#353535" stroke-width="1" />
                        <line id="Line_12" data-name="Line 12" x1="15" transform="translate(476.5 116.5)" fill="none"
                          stroke="#353535" stroke-width="2" />
                        <path id="Path_29" data-name="Path 29" d="M7,0V15" transform="translate(174.5 485.5)"
                          fill="none" stroke="#353535" stroke-width="2" />
                      </g>
                      <g id="connectors" transform="translate(126.588 105.194)">
                        <g id="Ellipse_11" data-name="Ellipse 11" transform="translate(174 471)" fill="#fff"
                          stroke="#353535" stroke-width="1">
                          <circle cx="7.5" cy="7.5" r="7.5" stroke="none" />
                          <circle cx="7.5" cy="7.5" r="7" fill="none" />
                        </g>
                        <g id="Ellipse_12" data-name="Ellipse 12" transform="translate(242 350)" fill="#fff"
                          stroke="#353535" stroke-width="1">
                          <circle cx="7.5" cy="7.5" r="7.5" stroke="none" />
                          <circle cx="7.5" cy="7.5" r="7" fill="none" />
                        </g>
                        <g id="Ellipse_13" data-name="Ellipse 13" transform="translate(180 224)" fill="#fff"
                          stroke="#353535" stroke-width="1">
                          <circle cx="7.5" cy="7.5" r="7.5" stroke="none" />
                          <circle cx="7.5" cy="7.5" r="7" fill="none" />
                        </g>
                        <g id="Ellipse_14" data-name="Ellipse 14" transform="translate(339 297)" fill="#fff"
                          stroke="#353535" stroke-width="1">
                          <circle cx="7.5" cy="7.5" r="7.5" stroke="none" />
                          <circle cx="7.5" cy="7.5" r="7" fill="none" />
                        </g>
                        <g id="Ellipse_15" data-name="Ellipse 15" transform="translate(462 109)" fill="#fff"
                          stroke="#353535" stroke-width="1">
                          <circle cx="7.5" cy="7.5" r="7.5" stroke="none" />
                          <circle cx="7.5" cy="7.5" r="7" fill="none" />
                        </g>
                      </g>
                      <ellipse id="Ellipse_16" data-name="Ellipse 16" cx="7" cy="8" rx="7" ry="8"
                        transform="translate(633.588 313.194)" fill="#353535" />
                      <path id="Path_30" data-name="Path 30" d="M6.751-.3,98.761.849l.556,22.508-97.308-.33Z"
                        transform="translate(537.588 595.195)" fill="#a5a5a5" />
                      <path id="Path_31" data-name="Path 31" d="M23.806,9.1,103.64-3.562l4,24.139L23.109,37.351Z"
                        transform="translate(807.588 586.098)" fill="#a5a5a5" />
                      <path id="Path_33" data-name="Path 33"
                        d="M-1.476-.09c.552,0,5.161.892,5.161,5.034,0,.634.632,3.146.6,4.044-.1,2.943-1.112,4.846-4.64,5.449-1.986.34-4.135-.045-4.135-1.7S0,8.646,0,6.836C0,2.694-2.028-.09-1.476-.09Z"
                        transform="translate(781.588 306.194)" fill="#bababa" />
                      <path id="Path_34" data-name="Path 34"
                        d="M3301.775,182.679c-1.552-.955-5.5-1.654-10.892.307s-10.668,7.538-10.668,7.538,12.551-4.545,18.08-1.407,5.321,10.6,4.035,13.959c-3.494,9.119-18.012,22.843-18.012,22.843s10-6.575,16.088-12.663a37.949,37.949,0,0,0,8.255-11.69s2.541-6.309.675-10.875S3305.4,184.91,3301.775,182.679Z"
                        transform="translate(-2506.412 105.194)" fill="#fff" opacity="0.904" />
                      <path id="Path_35" data-name="Path 35"
                        d="M3180.45,231.312a18.005,18.005,0,0,1-2.753,9.293,35.844,35.844,0,0,1-7.512,7.787,17.451,17.451,0,0,0,6.273,4.111,15.571,15.571,0,0,0,7.576.64s-2.642-.663-3.585-6.41S3180.45,231.312,3180.45,231.312Z"
                        transform="translate(-2506.412 105.194)" fill="#e1e1e1" />
                      <path id="Path_36" data-name="Path 36"
                        d="M3194.06,313.559s22.921,1.239,41.288-2.539a106.291,106.291,0,0,0,32.181-12.575l10.355,39.448s-8.258-12.7-29.214-18.784S3194.06,313.559,3194.06,313.559Z"
                        transform="translate(-2506.412 105.194)" fill="#bebcbc" />
                      <path id="Path_37" data-name="Path 37"
                        d="M3344.745,352.435h0c18.341,7.137,32.959,21.515,32.959,21.515s13.459,14.033,24.5,45.253,19.771,81.965,19.771,81.965l-62.565,12.468s22.663-60.6,8.9-102.656S3344.745,352.435,3344.745,352.435Z"
                        transform="translate(-2506.412 105.194)" fill="#939292" opacity="0.473" />
                      <path id="Path_38" data-name="Path 38"
                        d="M3393.154,510.255,3413.5,505.9s7.217,68.612,5.083,97.052c.2,15.752,2.149,17.951-2.149,41.046-.778,4.18-.295,8.623-2.934,12.026-10.877,14.036-37.229,17.64-37.229,17.64s30.135-34.231,16.883-42.177-34.851-8.633-34.851-8.633,25.12,1.872,29.785-6.109c2.193-3.751,18.233-31.195,16.5-54.969C3402.667,535.316,3393.154,510.255,3393.154,510.255Z"
                        transform="translate(-2506.412 105.194)" fill="#a5a5a5" opacity="0.31" />
                      <path id="Path_39" data-name="Path 39"
                        d="M3421.012,429.616l.959,71.553h-62.361s28.012-5.215,43.362-23.1S3421.012,429.616,3421.012,429.616Z"
                        transform="translate(-2785.067 117.961)" fill="#939292" opacity="0.473" />
                      <path id="Path_40" data-name="Path 40"
                        d="M3117.085,516.749h19.7L3124.7,600.025a32.222,32.222,0,0,1-5.369,17.608c-2.483,3.789-8.794,10.489-17.893,16.291a210.8,210.8,0,0,1-26.563,13.759s36.344-47.039,26.563-51.411-23.475-2.448-23.475-2.448,17.171-6.254,21.871-13.752S3117.085,516.749,3117.085,516.749Z"
                        transform="translate(-2506.412 105.194)" fill="#c9c9c9" opacity="0.593" />
                      <path id="Path_41" data-name="Path 41"
                        d="M3227.721,701.119s-46.182-2.522-85.6-9.126c-19.149-3.208-35.731-13.077-46.248-13-31.676.244-55.642,23.61-55.642,23.61s-3.363-9.167-3.018-5.616a8.708,8.708,0,0,0,3.018,5.616s18.611,2.792,45.636,1.585S3227.721,701.119,3227.721,701.119Z"
                        transform="translate(-2506.412 105.194)" fill="#b8b5b5" opacity="0.393" />
                      <path id="Path_42" data-name="Path 42"
                        d="M2659.366,453.368l240.1,91.3,63.8,218.888s-54.933-103.172-130.91-180.718S2659.366,453.368,2659.366,453.368Z"
                        transform="translate(-2506.412 105.194)" fill="#353535" opacity="0.312" />
                      <path id="Path_43" data-name="Path 43"
                        d="M3013.35,677.7l21.719,11.7s-2.707,12.841,3.776,15.759,30.645,1.9,30.645,1.9l69.793,36.671-166.637,8.849s52.247-13.531,62.423-32.249S3013.35,677.7,3013.35,677.7Z"
                        transform="translate(-2506.412 105.194)" fill="#404040" />
                      <g id="Ellipse_17" data-name="Ellipse 17" transform="translate(270.882 683.095) rotate(-17)"
                        fill="#353535" stroke="#707070" stroke-width="1">
                        <ellipse cx="18.5" cy="28" rx="18.5" ry="28" stroke="none" />
                        <ellipse cx="18.5" cy="28" rx="18" ry="27.5" fill="none" />
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Home Page Ends -->
        <!-- About Page  -->
        <div id="about" class="sections">
          <div class="row justify-content-center">
            <div class="col-md-10 col-12">
              <div class="row mt-5">
                <div class="col-12">
                  <div class="illus-outer about-illus">
                    <div class="about-inner-illus"></div>
                  </div>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-12 home-head about-head">
                  Thanks for stopping by!
                </div>
                <div class="hr about-hr"></div>
              </div>
              <div class="row mt-4 home-content about-content mb-md-5">
                Cyber Congress is the cyber-regulatory body of Amity International School, Sector-46, Gurugram. We
                constantly work under the guidance of our esteemed Principal ma’am, Ms. Arti Chopra, and Cyber Security
                Expert, Mr. Rakshit Tandon, to execute the cyber laws of the school.
                <br><br>
                The Cyber Congress conducts regular workshops and activities—both in-person and online—to educate
                students and teachers about cyber-related crimes, as well as their respective preventive measures.
                <br><br>
                We have developed this platform to increase our approachability for the entire school—especially when
                it is running online. In case you need to contact us, please use the Report section.
              </div>
            </div>
          </div>
        </div>
        <!-- About Page End -->
        <!-- Report Page -->
        <a id="report2"></a>
        <div id="report" class="sections mt-md-5">
          <div class="row justify-content-center">
            <div class="col-md-10">
              <div class="row">
                <div class="col-12">
                  <div class="qute team-content">

                    We understand that speaking up against a cyber crime—especially on a public domain—can be
                    extremely
                    intimidating; thus, we promise to keep your information private. We also allow you to be
                    completely
                    anonymous to us—if you are not ready to reveal your identity yet.
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h1 class="report-head">
                    Click below to talk to us!
                  </h1>
                </div>
                <div class="hr report-hr"></div>
              </div>
              <div class="row mt-5 justify-content-center">
                <div class="col-md-5 col-12 report-outer">
                  <form action="/postReport" method="POST" enctype="multipart/form-data" class="form-reveal">
                    <input type="text" name="reportType" id="reportType" value="Identity Revealed" hidden>
                    <div class="mt-2">
                      <p class="labels">My name is *</p>
                      <input type="text" name="name" id="name" class="form-control inputs" placeholder="John Doe"
                        required autocomplete="off">
                    </div>
                    <div class="row mt-3">
                      <div class="col-12">
                        <p class="labels">I am a *</p>
                      </div>
                      <div class="col-6 padding-right">
                        <button type="button" id="button" name="Student" class="btn radios">Student</button>
                      </div>
                      <div class="col-6 padding-left">
                        <button type="button" id="button" name="Teacher" class="btn radios">Teacher</button>
                      </div>
                      <input type="text" name="typeOfUser" id="typeOfUser" required hidden>
                    </div>
                    <div class="mt-3">
                      <p class="labels">Phone Number *</p>
                      <input type="number" name="phone" id="phone" class="form-control inputs"
                        placeholder="Max 10 characters" maxlength="13" required autocomplete="off">
                    </div>
                    <div class="mt-3">
                      <p class="labels">What do you want to tell us? *</p>
                      <textarea type="text" name="message" rows="4" id="message" class="form-control textarea"
                        placeholder="E.g. I have been receiving unsolicited messages from an unknown account, what should I do?"
                        autocomplete="off" required></textarea>
                    </div>
                    <div class="mt-3">
                      <p class="labels secret">You can also attach images</p>
                      <small class="form-text text-muted">
                        Maximum 7 images allowed.
                      </small>
                      <input type="file" class="form-control mt-2" name="files" multiple id="file">
                    </div>
                    <div class="row mt-3">
                      <div class="col-12">
                        <p class="labels secret">Maintain secrecy? *</p>
                      </div>
                      <div class="col-12">
                        <small class="form-text text-muted">
                          We will not tell anyone about it, unless absolutely necessary.
                        </small>
                      </div>
                      <div class="col-6 mt-2 padding-right">
                        <button type="button" id="button" name="yes" class="btn radios-2">Yes</button>
                      </div>
                      <div class="col-6 mt-2 padding-left">
                        <button type="button" id="button" name="no" class="btn radios-2">No</button>
                      </div>
                      <input type="text" name="maintainSecrecy" id="maintainSecrecy1" required hidden>
                    </div>
                    <div class="row mt-3">
                      <div class="col-12 text-end">
                        <button type="submit" class="btn button" id="submit-btn">Submit</button>
                      </div>
                    </div>
                  </form>
                  <div class="illus-outer reveal">
                    <div class="report-inner-1">
                    </div>
                  </div>
                </div>
                <div class="col-md-2 col-12 text-center laptop-or">
                  <h3 class="or">OR</h3>
                </div>
                <div class="col-md-5 col-12 report-outer">
                  <form action="/postReport" method="POST" enctype="multipart/form-data" class="form-anonymous">
                    <input type="text" name="reportType" id="reportType" value="Anonymous" hidden>
                    <div class="mt-3">
                      <p class="labels">What do you want to tell us? *</p>
                      <textarea type="text" name="message" rows="4" id="message" class="form-control textarea"
                        placeholder="E.g. I have been receiving unsolicited messages from an unknown account, what should I do?"
                        required></textarea>
                    </div>
                    <div class="mt-3">
                      <p class="labels secret">You can also attach images</p>
                      <small class="form-text text-muted">
                        Maximum 7 images allowed.
                      </small>
                      <input type="file" class="form-control input mt-2" name="files" multiple id="file">
                    </div>
                    <div class="row mt-3">
                      <div class="col-12">
                        <p class="labels secret">Maintain secrecy? *</p>
                      </div>
                      <div class="col-12">
                        <small class="form-text text-muted">
                          We will not tell anyone about it, unless absolutely necessary.
                        </small>
                      </div>
                      <div class="col-6 mt-2 padding-right">
                        <button type="button" id="button" name="yes" class="btn radios-2">Yes</button>
                      </div>
                      <div class="col-6 mt-2 padding-left">
                        <button type="button" id="button" name="no" class="btn radios-2">No</button>
                      </div>
                      <input type="text" name="maintainSecrecy" id="maintainSecrecy2" required hidden>
                    </div>
                    <div class="row mt-3">
                      <div class="col-12 text-end">
                        <button type="submit" class="btn button" id="submit-btn">Submit</button>
                      </div>
                    </div>
                  </form>
                  <div class="illus-outer anonymous">
                    <div class="report-inner-2">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a id="news2"></a>
        <div id="newsletter" class="sections">
          <div class="row justify-content-center">
            <div class='col-md-10'>
              <div class="qute team-content mb-1">
                We have collaborated with Glocal Amitians to bring you a newsletter published started by Amitians
                for
                Amitians. We address relevant social and internet based issues and use this as a platform to voice
                our
                opinions.
              </div>
              <h3 class='head mail-head students-head'
                style="margin-left: -0.25rem; padding-top:0.8em; margin-top:2rem;">
                Read our E-Magazine!
              </h3>
              <div class="hr report-hr" style="margin-left: -0.25rem; margin-bottom: 2rem;"></div>

              <div class="news-out">
                <div class="grey-bar">
                  <i class="fas fa-circle icon-news"></i>
                  <i class="fas fa-circle icon-news"></i>
                  <i class="fas fa-circle icon-news"></i>
                </div>
                <div class="news-in">
                  <div class="news-link">https://nibble.ga/magazine</div><br>
                  <a href="https://nibble.ga/magazine" target="_blank"><button type="button"
                      class="btn rounded-pill btn-outline-dark news-btn">Visit</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- </div> -->
        <!-- Instagram -->
        <%if (images || links) { %>
        <div id="insta" class="sections">
          <div>
            <div class="row justify-content-center">
              <div class="col-md-10">
                <div class="row">
                  <div class="col-12">
                    <h1 class="home-head">
                      Instagram Preview
                    </h1>
                    <div class="hr"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-10 col-12">
                <div class="row mt-5 justify-content-center">
                  <div class="col-md-5 mt-2">
                    <a href='<%- links[0]%>' target="_blank">
                      <div class="insta-illus-outer">
                        <div class="insta-illus-inner" style="background: url('<%- images[0] %>'); background-position: center;
                  background-size: cover;">
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-7 mt-md-2 right-insta-posts">
                    <div class="row">
                      <%for (let i = 1; i< images.length; i++) { %>
                      <div class="col-md-4 col-6 mt-2 mt-md-0">
                        <a href='<%- links[i]%>' target="_blank">
                          <div class="insta-illus-small-outer">
                            <div class="insta-illus-small-inner" style="background: url('<%- images[i] %>'); background-position: center;
                          background-size: cover;">
                            </div>
                          </div>
                        </a>
                      </div>
                      <% } %>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-12">
                    <a href="https://www.instagram.com/cybercongressais46/" target="_blank">
                      <div class="insta-illus-outer insta-button-outer">
                        <div class="insta-illus-inner insta-button-inner">
                          <p class="follow-us">follow us on Instagram: @cybercongressaisg46 <i
                              class="fab fa-instagram"></i></p>
                          <p class="follow-us-mobile">@cybercongressaisg46 <i class="fab fa-instagram"></i></p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
        <a id="team2"></a>
        <div id="team" class="sections">
          <div class="row justify-content-center">
            <div class="col-10">
              <div class="qute team-content  mb-5">
                We are working day and night to create a safer digital environment for our students and faculty. If
                you
                think you have an aptitude for cyber security, and want to join our amazing team, please get in touch
                with our teachers.
              </div>
              <!-- Students -->
              <h3 class="head underlined students-head"> Students </h3>
              <br>
              <div class="row">
                <div class="col-12 col-md-3 mt-md-0 mt-3">
                  <div class="card">
                    <div class='card-body'>
                      <h5 class="card-title"> Rachit Gupta </h5>
                      <p class="card-text"> President </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3 mt-md-0 mt-3">
                  <div class="card">
                    <div class='card-body'>
                      <h5 class="card-title"> Vaibhav Sharma </h5>
                      <p class="card-text"> Vice-President </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3 mt-md-0 mt-3">
                  <div class="card">
                    <div class='card-body'>
                      <h5 class="card-title"> Aayan Agarwal </h5>
                      <p class="card-text"> Joint Secretary </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3 mt-md-0 mt-3">
                  <div class="card">
                    <div class='card-body'>
                      <h5 class="card-title"> Amish Mamtani </h5>
                      <p class="card-text"> Joint Secretary </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3 mt-md-3 mt-3">
                  <div class="card">
                    <div class='card-body'>
                      <h5 class="card-title"> Aarushi Singh </h5>
                      <p class="card-text"> Core</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3 mt-md-3 mt-3">
                  <div class="card">
                    <div class='card-body'>
                      <h5 class="card-title"> Advika Asthana </h5>
                      <p class="card-text"> Core</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3 mt-md-3 mt-3">
                  <div class="card">
                    <div class='card-body'>
                      <h5 class="card-title"> Riya Dogra </h5>
                      <p class="card-text"> Core</p>
                    </div>
                  </div>
                </div>
              </div>
              <br><br>
              <!-- Teachers -->
              <h3 class="head underlined"> Teachers </h3>
              <br>
              <div class="row">
                <div class="col-12 col-md-3 mt-md-0 mt-3">
                  <div class="card">
                    <div class='card-body'>
                      <h5 class="card-title"> Chanchal Dhingra </h5>
                      <p class="card-text">
                        Head of Department
                      </p>
                      <p class="card-text ph">
                        +91 92120 80074
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3 mt-md-0 mt-3">
                  <div class="card">
                    <div class='card-body'>
                      <h5 class="card-title"> Manisha Sharma </h5>
                      <p class="card-text">
                        TGT IT
                      </p>
                      <p class="card-text ph">
                        +91 98688 51136
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a id="alumni2"></a>
        <!-- Alumni -->
        <div id="alumni" class="sections">
          <div class="row justify-content-center">
            <div class="col-10">
              <div class="qute team-content  mb-5">
                Our alumni have been extremely active in the field of technology and are currently studying STEM at
                renowned universities from all across the globe. Here are the people who established the cyber
                congress
                and have led the way since.
              </div>
              <!-- Students -->
              <h3 class="head underlined students-head"> Alumni </h3>
              <br>
              <div class="row">
                <div class="col-12 col-md-3 mt-md-0 mt-3">
                  <div class="card responsive-card">
                    <div class='card-body'>
                      <h5 class="card-title"> Laxya Pahuja</h5>
                      <p class="card-text"> Outgoing Batch <br>
                        <p class="text-muted"> 2020-21</p>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3 mt-md-0 mt-3">
                  <div class="card responsive-card">
                    <div class='card-body'>
                      <h5 class="card-title"> Ribhav Sharma </h5>
                      <p class="card-text"> Outgoing Batch <br>
                        <p class="text-muted">2020-21</p>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3 mt-md-0 mt-3">
                  <div class="card responsive-card">
                    <div class='card-body'>
                      <h5 class="card-title"> Anurag Parida </h5>
                      <p class="card-text"> Gap Year Student <br>
                        <p class="text-muted"> 2019-20</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3 mt-md-0 mt-3">
                  <div class="card responsive-card">
                    <div class='card-body'>
                      <h5 class="card-title"> Sarthak Singhal </h5>
                      <p class="card-text"> Student at HKUST <br>
                        <p class="text-muted">2019-20 </p>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <br><br>
              <div class="row">
                <div class="col-12 col-md-3 mt-md-0 mt-3">
                  <div class="card responsive-card">
                    <div class='card-body'>
                      <h5 class="card-title"> Padam Chopra </h5>
                      <p class="card-text"> Student at UWaterloo <br>
                        <p class="text-muted"> 2018-19 </p>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3 mt-md-0 mt-3">
                  <div class="card responsive-card">
                    <div class='card-body'>
                      <h5 class="card-title"> Aryaman Agarwal </h5>
                      <p class="card-text"> Student at UMass Amherst <br>
                        <p class="text-muted">2018-19</p>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3 mt-md-0 mt-3">
                  <div class="card responsive-card">
                    <div class='card-body'>
                      <h5 class="card-title"> Ashwin Tewary </h5>
                      <p class="card-text"> Student at USydney <br>
                        <p class="text-muted">2017-18</p>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3 mt-md-0 mt-3">
                  <div class="card gursimran-card responsive-card">
                    <div class='card-body'>
                      <h5 class="card-title"> Gursimran Singh </h5>
                      <p class="card-text"> Student at Georgia Tech <br>
                        <p class="text-muted">2017-18</p>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
    </script>
    <script src="/js/app.js"></script>
    </script>
</body>

</html>